@import 'utils';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $light-active;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.logo {
    @include flexCenter;
}