@import 'utils';

.side-panel {
    position: fixed;
    top: 60px;
    width: 300px;
    height: 100vh;
    border-right: 1px solid $light-active;
    ul {
        @include flexColumnCenter;
        list-style: none;
    }
    
    li {
        margin: 2rem;
    }

    a {
        text-decoration: none;
        color: $dark;
        font-family: $ibm;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0.8rem 1rem;
        border-radius: 30px;
        cursor: pointer;
        transition: $eio;

        &:hover {
            background: $dark;
            padding: 0.8rem 3rem;
            color: $light;
            transition: $eio;
        }
    }
}

